/*   
	version:  1.0
	author:   Unai Perea Cruz
		
*/

/* 
   RESET    
   Resetear todos los estilos para cualquier navegador
*/
@import url("reset.css");

/* 

   dar un estilo general o base a toda la Web	

*/

s{
	float: left;
}

#canvas_croquis{
	margin: 0 auto;
	display: block; 
}

#titulo{
	color: white;
	float: left !important;
}

/*#subtitulo{
	vertical-align: ;
}*/

.flotar_izda {
	float: left;
}

.flotar_dcha {
	float: right;
}

.flotar_both{
	float: both;
}

.lista-margen-arriba{
	margin-top: 5px;
}

#nombre-krokis{
	color: white;
}

i{
	color: #FFFFFF;
}

#barra-menus-container{
	float: left;
	max-width: 1044px; /*Para que no se descojone al modificar el tamaño de la pantalla*/
	width: 1044px;
    padding-top: 8px;
	padding-left: 8px;
    padding-bottom: 8px;
	/*border-radius: 3px;
	background: #424242;  /* Fondo más oscuro que el original */
	/*box-shadow: inset -1px -1px 1px rgba(0,0,0,.3), inset 1px 1px 1px rgba(255,255,255,.2);*/
}

#controles-dibujo,
#funciones-dibujo{
	width: 116px;
	margin-top: 10px;
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
	border-radius: 3px;
	background: #424242;  /* Fondo más oscuro que el original */
	box-shadow: inset -1px -1px 1px rgba(0,0,0,.3), inset 1px 1px 1px rgba(255,255,255,.2);
}

#propiedades-dibujo{
	margin-top: 10px;
	padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
	border-radius: 3px;
	background: #424242;  /* Fondo más oscuro que el original */
	box-shadow: inset -1px -1px 1px rgba(0,0,0,.3), inset 1px 1px 1px rgba(255,255,255,.2);
}

.color-fondo-gris{
	/*background: #343434;*/
	background: #424242;  /* Fondo más oscuro que el original */
}

.herramientas-dcha{
	/*max-width: 200px;*/
	/*width: 100%;*/
	padding-left: 10px;
	float: left;
}

.herramientas-izda{
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 6px;
	background: #343434;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}

#panelDibujo{
	margin-top: 68px;
}
#zoom ul li{
	list-style: none;
}

#zoom_mas{
	padding-top: 6px;
}

.invisible{
	display: none;
}

/* Estilos de controles */

.boton_pulsado/* Al presionarse el botón */ {
	width: 30px;  /* Ancho del botón */
	height: 30px;  /* Alto del botón */
	padding-top: 2px;
	padding-left: 2px;
	text-align: center;  /* Alineación del texto */
	text-shadow: 1px 1px rgba(0,0,0,.3);  /* Sombra del texto */
	background:#343434;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
	border-radius: 4px;  /* Bordes redondos */
	border: 1px solid #000000; /* Borde */
	color: white;  /* Color del texto */
}

.boton_no_pulsado {
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	width: 30px;  /* Ancho del botón */
	height: 30px;  /* Alto del botón */
	border: 0; /* Borde */
	padding-top: 2px;
	padding-left: 1px;
	background: #535353;  /* Fondo */
	text-align: center;  /* Alineación del texto */
	text-shadow: -1px -1px rgba(0,0,0,.2);  /* Sombra del texto */
	border-radius: 4px;  /* Bordes redondos */
	color: white;  /* Color del texto */
}

/*.boton_reunion_hover:hover {
	border: 1px solid #000000;
	background: #6a6a6a;
	padding: 4px !important;
	padding: 4px !important;
}*/

.boton_hover:hover { /*El botón_reunion no funciona al ser de icomoon por lo que se ha creado una clase especial para él .boton_reunion_hover*/
	border: 1px solid #000000; /* Borde */
	background: #6a6a6a;  /* Fondo */
}

/*

	Estilos personalizados
	
*/

#panel-central{
	height: 100px;
    background-color: black !important;
	/*position: relative;*/
}

#canvas-container{
	background-color: #414141;
	width: 1044px;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}

#canvas_croquis{ /* crosshair ----- cursor: url(img/dot.png), pointer; }*/
	width: 100%;
	border: 0px #D6D6D6;/*#d3d3d3;*/
	background-color: #D6D6D6;
}

#control_mover{
	/*display: inline-block;
	position: absolute;
	top: 79px;
    left: 883px;*/
}

#control-color>div{        /* NO FUNCIONAAAAAAA, POR QUÉEEEEEE*/
	border: 0 !important;
	background: none !important;
}
.iconos-dibujo,
.iconos-funciones{
	/*margin-top: 5px;*/
	margin-bottom: 5px;
}

#control_pincel{
	font-size: 17px;
	padding-top: 6px;
}

#funcion-via-auto{
	font-size: 20px;
	padding-top: 5px;
}

#control_reunion,
#control_via,
#control_borrar,
#control_mover,
#control_reset{
	font-size: 21px;
	padding-top: 5px;
	margin-left: 15px;
}

/*#ruta{
	position: absolute;
	left: 60px;
    top: 20px;
}

#reunion{
	position: absolute;
	left: 38px;
    top: 70px;
}

#borrar{
	position: absolute;
	left: 50px;
    top: 120px;
}

#deshacer{
	position: absolute;
	left: 38px;
    top: 157px;
}*/

.cursor_wait{
	cursor: wait;
}

.cursor_mover{
	cursor: move;
}

.cursor_borrar{
	cursor: default;
}

.cursor_hand{
	cursor: pointer;
}

.cursor_none{
	cursor: none;
}

/*****************/
* MENU DEL CANVAS *
******************/
#colorNav {
	padding-left: 25px;
}

#colorNav > ul{
	width: 450px;
	margin-bottom: 0;
}

#colorNav > ul > li{ /* will style only the top level li */
	width: 40px;
	height: 40px;
	padding-top: 6px;
	list-style: none;
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
	display: inline-block;
	line-height: 1;
	margin: 1px;
	border-radius: 3px;
	position: relative;
}

#colorNav > ul > li > span{
	color:inherit;
	text-decoration:none !important;
	padding: 7px;
}

.icono-menu{
    font-size: 1.3em !important;
}

#colorNav li ul{
	position:absolute;
	list-style:none;
	text-align:center;
	width:180px;
	/*left:50%;
	margin-left:-90px;*/
	top: 0; /*modificado*/
	margin-left: 40px; /*modificado*/
	font:bold 12px 'Open Sans Condensed', sans-serif;

	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden;

	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;
}

/*Trigger de la animacion*/
#colorNav li:hover ul{
	max-height:200px;
}

/*DropDown*/
#colorNav li ul li{
	background-color:#313131;
	margin-left:7px;
	cursor: pointer 
}

#colorNav li ul li span{
	padding:6px;
	color:#fff !important;
	text-decoration:none !important;
	display:block;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
	background-color:#363636;
}

#colorNav li ul li:hover{
	background-color:#444;
}

#colorNav li ul li:first-child{
	border-radius:3px 3px 0 0;
	/*margin-top:7px;
	position:relative;*/;
}

#colorNav li ul li:first-child:before{ /* the pointer tip */
	content:'';
	position:absolute;
	width:1px;
	height:1px;
	border:5px solid transparent;
	border-bottom-color:#313131;
	/*left:50%;
	top:-10px;
	margin-left:-5px;*/
	left: -2px;; /*modificado*/
	top: 2px; /*modificado*/
	-webkit-transform:rotate(270deg); /*modificado*/
  	-moz-transform:rotate(270deg); /*modificado*/
  	-o-transform:rotate(270deg); /*modificado*/
  	-ms-transform:rotate(270deg); /*modificado*/
  	transform:rotate(270deg); /*modificado*/
}

#colorNav li ul li:last-child{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

/*Colorines*/
#colorNav li.green{
	/* This is the color of the menu item */
	background-color: #535353; /*#00c08b;*/

	/* This is the color of the icon */
	color: white; /*#127a5d;*/
}

#colorNav li.red{		background-color:#ea5080;color:#aa2a52;}
#colorNav li.blue{		background-color:#53bfe2;color:#2884a2;}
#colorNav li.yellow{	background-color:#f8c54d;color:#ab8426;}
#colorNav li.purple{	background-color:#df6dc2;color:#9f3c85;}