/*http://codepen.io/enxaneta/pen/xbamJE*/


#grosor_container{ margin:20% auto; width:50px; position:relative;}
.etiqueta{
	width:20px;
	height:20px;
	margin:0;
	line-height:20px;
	border-radius:50% 50% 0 50%;
	background-color:#511;
	text-align:center;
  	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position:absolute;
	top:-9px;
	left:4px;
}
.etiqueta p{
	color:white;
  	font-size: 0.8em;
	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	top:-9px;
	left:4px;
}


/*******************************
INPUT
*/
input[type='range']{ width:50px; height:50px; background-color:transparent;}
	
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;outline: none;
}

/* 2.1 THUMB */
input[type=range]::-webkit-slider-thumb{
	margin-top: -12px;
	width:20px;
	height:20px;
	background-color:#555;
	border:3px solid #333;
	border-radius:50%;
	outline: none;
	position: relative;}
	
input[type=range]:focus::-webkit-slider-thumb{outline: none;}	
	

input[type=range]::-moz-range-thumb{
	margin-top: -7px;
	width:15px;
	height:15px;
	background-color:#555;
	border:3px solid #333;
	border-radius:50%;
	outline: none;
	position: relative; }

input[type=range]::-ms-thumb{width:20px;
	height:20px;
	background-color:#555;
	border:3px solid #333;
	border-radius:50%;
	outline: none;
	position: relative;
	}


/* 2.2 TRACK */
input[type=range]::-webkit-slider-runnable-track{ 
	background-color:transparent; 
	height:5px;
	width:50px;   
	position:relative; 
	}
	
input[type=range]::-webkit-slider-runnable-track:before{
	content:"";
	display:block;
	background-color:#555; 
	height:5px; 
	width:50px; 
	position:relative; 
	left:10px;
 	}	


input[type=range]:focus::-webkit-slider-runnable-track{outline: none;}

input[type=range]::-moz-range-track{background-color:#555; height:5px; width:50px; position:relative; left:10px;}


input[type=range]::-ms-track{background-color:#555; height:5px; width:50px; position:relative; left:10px;}

input[type=range]::-ms-fill-lower{} 

input[type=range]::-ms-fill-upper{} 