#grosor_container {
  width: 100px;
  position: relative;
}

#etiqueta{
  color: #999;
  margin-bottom: .6em;
  font-family: sans-serif;
  font-size: 0.8em;
}

#control_grosor {
  display: block;
  width: 100%;
}

#control_grosor:focus {
  outline: none;
}

#control_grosor,
#control_grosor::-webkit-slider-runnable-track,
#control_grosor::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#control_grosor::-webkit-slider-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #424242;
  border-radius: 50%;
  margin-top: -9px;
}

#control_grosor::-moz-range-thumb {
  background-color: #777;
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-radius: 50%;
}

#control_grosor::-ms-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
}

#control_grosor::-webkit-slider-runnable-track {
  background-color: #777;
  height: 3px;
}

#control_grosor:focus::-webkit-slider-runnable-track {
  outline: none;
}

#control_grosor::-moz-range-track {
  background-color: #777;
  height: 3px;
}

#control_grosor::-ms-track {
  background-color: #777;
  height: 3px;
}

#control_grosor::-ms-fill-lower {
  background-color: HotPink
}

#control_grosor::-ms-fill-upper {
  background-color: black;
} 