/*********************************/
/* Slider para controlar el zoom */
/*********************************/

input[type='range'] {
	
}

input[type='range'] {
    -webkit-appearance: slider-vertical;
    transform: rotate(90deg);
}
input[type='range'] {
    -webkit-appearance: none;
    background-color: gray;
}

#zoom_container {
  width: 200px;
  height: 500px;
  padding-top: 105px;
  /*position: relative;*/
}

#etiqueta-zoom{
  color: #999;
  margin-bottom: .6em;
  font-family: sans-serif;
  font-size: 0.8em;
}

#control_zoom {
  /*display: block;*/
  /*width: 100%;*/
  -webkit-appearance: none;
}

.vertical{
  -webkit-transform:rotate(90deg); 
  -moz-transform:rotate(90deg); 
  -o-transform:rotate(90deg); 
  -ms-transform:rotate(90deg); 
  transform:rotate(90deg); 
}

#control_zoom:focus {
  outline: none;
}

#control_zoom,
#control_zoom::-webkit-slider-runnable-track,
#control_zoom::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#control_zoom::-webkit-slider-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #424242;
  border-radius: 50%;
  margin-top: -9px;
}

#control_zoom::-moz-range-thumb {
  background-color: #777;
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-radius: 50%;
}

#control_zoom::-ms-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
}

#control_zoom::-webkit-slider-runnable-track {
  background-color: #777;
  height: 3px;
}

#control_zoom:focus::-webkit-slider-runnable-track {
  outline: none;
}

#control_zoom::-moz-range-track {
  background-color: #777;
  height: 3px;
}

#control_zoom::-ms-track {
  background-color: #777;
  height: 3px;
}

#control_zoom::-ms-fill-lower {
  background-color: HotPink
}

#control_zoom::-ms-fill-upper {
  background-color: black;
} 

/**********************************************/
/* Slider para controlar el grosor del pincel */
/**********************************************/
#grosor_container {
  width: 100px;
  position: relative;
}

#etiqueta-grosor{
  color: #999;
  margin-bottom: .6em;
  font-family: sans-serif;
  font-size: 0.8em;
}

#control_grosor {
  background-color: black;
  display: block;
  width: 100%;
}

#control_grosor:focus {
  outline: none;
}

#control_grosor,
#control_grosor::-webkit-slider-runnable-track,
#control_grosor::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#control_grosor::-webkit-slider-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #424242;
  border-radius: 50%;
  margin-top: -9px;
}

#control_grosor::-moz-range-thumb {
  background-color: #777;
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-radius: 50%;
}

#control_grosor::-ms-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
}

#control_grosor::-webkit-slider-runnable-track {
  background-color: #777;
  height: 3px;
}

#control_grosor:focus::-webkit-slider-runnable-track {
  outline: none;
}

#control_grosor::-moz-range-track {
  background-color: #777;
  height: 3px;
}

#control_grosor::-ms-track {
  background-color: #777;
  height: 3px;
}

#control_grosor::-ms-fill-lower {
  background-color: HotPink
}

#control_grosor::-ms-fill-upper {
  background-color: black;
} 