/*   
	version:  1.0
	author:   Unai Perea Cruz
		
*/

/* 
   RESET    
   Resetear todos los estilos para cualquier navegador
*/
@import url("reset.css");

/* 

   dar un estilo general o base a toda la Web	

*/







/*

	Estilos personalizados
	
*/
.flotar_izda {
	float: left;
}

#zoom ul li{
	list-style: none;
}


/* Estilos de controles */

.boton_pulsado/* Al presionarse el botón */ {
	width: 40px;  /* Ancho del botón */
	height: 40px;  /* Alto del botón */
	padding: 5px;
	text-align: center;  /* Alineación del texto */
	text-shadow: 1px 1px rgba(0,0,0,.3);  /* Sombra del texto */
	background:#343434;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
	border-radius: 4px;  /* Bordes redondos */
	border: 1px solid #000000; /* Borde */
	color: white;  /* Color del texto */
}

.boton_no_pulsado {
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	width: 40px;  /* Ancho del botón */
	height: 40px;  /* Alto del botón */
	border: 0; /* Borde */
	padding: 5px;
	background: #535353;  /* Fondo */
	text-align: center;  /* Alineación del texto */
	text-shadow: -1px -1px rgba(0,0,0,.2);  /* Sombra del texto */
	border-radius: 4px;  /* Bordes redondos */
	color: white;  /* Color del texto */
}

.boton_hover:hover {
	border: 1px solid #000000; /* Borde */
	background: #6a6a6a;  /* Fondo */
}

