<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HormaStudio</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Controlador para subir la imágen al servidor</description>
    <display-name>ImagenController</display-name>
    <servlet-name>ImagenController</servlet-name>
    <servlet-class>com.hormastudio.controladores.ImagenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImagenController</servlet-name>
    <url-pattern>/imagen</url-pattern>
  </servlet-mapping>
  
</web-app>